.search {
    display: flex;
    gap: 10px;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.search-button {
   cursor: pointer;
   color: white;
   background-color: royalblue;
   width: 100px;
   padding: 10px;
   border-radius: 8px;
}